{% extends "/main.html" %}

{% block mainContent %}
    {% from 'components/task.html' import task_card %}
    <div class="my-4">
        <h1 class="text-3xl inline-block mr-8">{{ project.name }}</h1>
        <p class="text-gray-700 text-base italic inline-block">{{ project.description }}</p>
    </div>
    <p>
    Sorted by 
    {% if sort_by == "due" %}
        <span class="font-bold">Due Date</span>
        <a href="?sort_by=priority&desc=True" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded text-sm">
            Sort by <span class="font-bold">Priority</span> instead
        </a>
    {% elif sort_by == "priority" %}
        <span class="font-bold">Priority</span>
        <a href="?sort_by=due" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded text-sm">
            Sort by <span class="font-bold">Due Date</span> instead
        </a>
    {% endif %}
    </p>
    {% for task in tasks %}
        {{ task_card(task) }}
    {% endfor %}
{% endblock %}