{% macro filter_options(sort_by, desc, include_done) -%}

<form method="get">
    <div class="flex flex-col items-end px-4 w-80">
        <div class="flex flex-row justify-end items-center gap-2">
            <label for="sort-by-select" class="block text-base text-gray-500">Sorted by</label>
            <select name="sort_by" id="sort-by-select" class="block w-auto px-0 text-base bg-transparent appearance-none text-gray-800 font-semibold focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option {% if sort_by=="due" %} selected {% endif %} value="due">Due date</option>
                <option {% if sort_by=="priority" %} selected {% endif %} value="priority">Priority</option>
            </select>
            <select name="desc" id="sort-by-desc" class="block px-0 text-base bg-transparent appearance-none text-gray-800 font-semibold focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                {% if desc %}
                <option value="false">Asc</option>
                <option selected value="true">Desc</option>
                {% else %}
                <option selected value="false">Asc</option>
                <option value="true">Desc</option>
                {% endif %}
            </select>
        </div>
        <div class="flex flex-row justify-end items-center gap-2">
            <label for="showing" class="block text-base text-gray-500">Showing</label>
            <select name="include_done" id="showing" class="block w-auto px-0 text-base bg-transparent appearance-none text-gray-800 font-semibold focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                {% if include_done %}
                <option selected value="true">All</option>
                <option value="false">Incomplete</option>
                {% else %}
                <option value="true">All</option>
                <option selected value="false">Incomplete</option>
                {% endif %}
            </select>
        </div>
        <button class="rounded-md text-blue-500 font-semibold" type="submit">Update</button>
    </div>
</form>
{%- endmacro %}

{% macro task_list(tasks) -%}
{% from 'components/task.html' import task_card %}
{% for task in tasks %}
{{ task_card(task) }}
{% endfor %}
{%- endmacro %}