{% macro task_card(task) -%}
{% from 'components/priority_badge.html' import priority_badge %}
{% from 'components/id_badge.html' import id_badge %}
{% from 'functions.html' import format_relative_datetime %}
<div class="rounded overflow-hidden shadow-lg my-4 px-10 py-4 flex flex-col items-center">
        <div class="grid grid-cols-[3rem,1fr,6rem] items-center w-full">
            {# First Row #}
            <div class="inline-flex items-center">
                <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="green">
                    <input type="checkbox" hx-post="/tasks/{{ task.id }}" hx-trigger="change"
                        hx-vals='js:{done: event.target.checked}'
                        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-green-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-green-gray-500 before:opacity-0 before:transition-opacity checked:border-green-500 checked:bg-green-500 checked:before:bg-green-500 hover:before:opacity-10"
                        id="task-{{ task.id }}" {% if task.done %} checked {% endif %} />
                    <span class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                            stroke="currentColor" stroke-width="1">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </label>
            </div>
            <div>
                <h3 class="font-bold text-xl inline-block"><a href="/tasks/{{ task.id }}">{{ task.name }}</a></h3>
                <a href="/tasks/{{ task.id }}">{{ id_badge(task.id) }}</a>
            </div>
            <div class="font-semibold text-gray-500">
                <a href="/projects/{{ task.project.id }}">{{ task.project.name }}</a>
            </div>
            {# Second Row #}
            <div></div>
            <div>
                {% if task.description %}
                <p class="text-gray-500 text-base">
                    {{ task.description }}
                </p>
                {% endif %}
            </div>
            <div></div>
        </div>
        <div class="flex flex-row md:w-[17rem] gap-4 px-4 mt-8">
            <div class="md:w-32">
                {{ priority_badge(task.priority) }}
            </div>
            <div class="md:w-32 flex flex-col justify-center items-center text-xs text-gray-400">
                {% if task.due %}
                    <p>Due <span class="font-semibold text-gray-800">{{ task.relative_due_date }}</span></p>
                    <p class="text-gray-400">{{ format_relative_datetime(task.due) }}</p>
                {% else %}
                    <p class="text-gray-400">No due date</p>
                {% endif %}
            </div>
        </div>
</div>
{%- endmacro %}