{% macro task_card(task) -%}
{% from 'components/priority_badge.html' import priority_badge %}
{% from 'components/id_badge.html' import id_badge %}
{% from 'functions.html' import format_relative_datetime %}
<div class="rounded my-4 px-4 flex flex-col items-center">
    <div class="flex flex-row flex-wrap w-full justify-between pl-14 pr-2">
        <div class="text-sm font-semibold text-gray-500">
            <a href="/projects/{{ task.project.id }}">{{ task.project.name }}</a>
        </div>
        <a href="/tasks/{{ task.id }}">{{ id_badge(task.id) }}</a>
    </div>
    <div class="flex flex-row justify-between items-end w-full border-b border-b-gray-200">
        <div class="flex flex-row items-center justify-start gap-4 mb-2">
            <label class="relative flex items-center py-2 rounded-full cursor-pointer" htmlFor="green"></label>
            <input type="checkbox" hx-post="/tasks/{{ task.id }}" hx-trigger="change"
                hx-vals='js:{done: event.target.checked}'
                class="before:content[''] peer relative h-6 w-6 cursor-pointer appearance-none rounded-md border border-green-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-green-gray-500 before:opacity-0 before:transition-opacity checked:border-green-500 checked:bg-green-500 checked:before:bg-green-500 hover:before:opacity-10"
                id="task-{{ task.id }}" {% if task.done %} checked {% endif %} />
            <span
                class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                    stroke="currentColor" stroke-width="1">
                    <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
            </label>
            <div>
                <h3 class="font-semibold text-lg inline-block"><a href="/tasks/{{ task.id }}">{{ task.name }}</a></h3>
            </div>
            <div class="text-xs">
                {{ priority_badge(task.priority) }}
            </div>
        </div>
        <div class="flex flex-col w-36 justify-center items-end text-sm text-gray-400 mx-4">
            {% if task.due %}
            <div>Due <span class="font-semibold text-gray-800">{{ task.relative_due_date }}</span></div>
            <div class="text-xs">{{ format_relative_datetime(task.due) }}</div>
            {% else %}
            <div class="mb-2">No due date</div>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-row flex-wrap w-full justify-between pl-14 pt-2">
        <div class="text-gray-500 text-base">
            {% if task.description %}
            {{ task.description }}
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}